a {
  color: #ff5050;
}

a:hover,
a:focus,
a:active {
  color: #fff;
  text-decoration: none;
}

.fa-stack .fa-lg {
  margin-top: 30px;
}

.social-github:hover,
.social-github:focus,
.social-github:active {
  background-color: #333;
}

.social-instagram:hover,
.social-instagram:focus,
.social-instagram:active {
  background-color: #125688;
}

.social-linkedin:hover,
.social-linkedin:focus,
.social-linkedin:active {
  background-color: #287bbc;
}

.social-medium:hover,
.social-medium:focus,
.social-medium:active {
  background-color: #00ab6b;
}

.social-twitter:hover,
.social-twitter:focus,
.social-twitter:active {
  background-color: #55acee;
}

.light-link {
  color: #FFA542;
}

.team-member img {
  max-width: 225;
  max-height: 225;
  border: 3px solid #fff;
}

.navbar-brand {
  opacity: 0;
}

.navbar-shrink .navbar-brand {
  opacity: 1;
  color: #ff5050;
}

#skills,
#about {
  background-color: #434650;
}

#about h2,
#skills h2 {
  color: #FFA542;
}

#about h4,
#skills h4 {
  color: #0A0505;
}

#portfolio {
  background-color: #6C7680;
}

#portfolio-subheading {
  color: #333;
}

#page-down-arrow {
  color: #fff;
}
