body {
  font-size: 21px;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  cursor: default;
}

.container {
  width: 50%;
}

a {
  color: rgba(0, 0, 0, 0.7);
  transition: 0.3s ease;
  cursor: pointer;
}

footer p {
  padding-top: 25px;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat';
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: .01em;
  margin-bottom: 5px;
}

hr {
  border-top: none;
  margin-top: 15px;
  margin-bottom: 60px;
  position: relative;
  text-align: center;
}

hr:before {
  content: '...';
  display: inline-block;
  color: rgba(0, 0, 0, 0.6);
  top: -30px;
  letter-spacing: 25px;
  margin-left: 25px;
}

p {
  font-family: 'Droid Serif';
  text-align: justify;
  line-height: 1.58em;
}

.sub {
  color: rgba(0, 0, 0, 0.7);
}

.title {
  text-transform: uppercase;
}

::selection {
  color: #fff;
  background-color: #222;
}
