* {
  -webkit-box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  cursor: default;
}

body {
  font-family: 'Roboto Mono', monospace;
  margin: 0;
  color: #33333d;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0,0,0,.004);
}

a {
  color: #333;
  text-decoration: none;
  transition: 0.3s ease;
  cursor: pointer;
  position: relative;
}

svg {
  width: 12px;
  padding-top: 1px;
}

svg g {
  transition: 0.3s ease;
}

a.mosaic-icon:hover svg g {
  fill: #ffc371;
}

p {
  font-weight: 300;
  font-family: inherit;
  font-size: 13px;
  text-align: justify;
}

.content {
  margin: 0 auto;
  max-width: 287px;
  width: 100%;
}

p.content {
  max-width: 287px;
  letter-spacing: 0.02em;
  line-height: 1.9em;
}

.email {
  font-family: 'Montserrat';
  font-size: 14px;
}

.link, .email {
  color: #808080;
}

.link:hover {
  color: #a2cef7;
}

.fa {
  transition: 0.3s ease;
}

.fa-code:hover {
  color: #C12127;
}

.fa-github:hover {
  color: #4078c0;
}

.fa-linkedin:hover {
  color: #007bb6;
}

.fa-medium:hover {
  color: #02b875;
}

.fa-twitter:hover {
  color: #00aced;
}

.padding {
  margin-top: 20px;
}

.social-container span:not(:first-child) {
  padding-left: 20px;
}

.social-container.left {
  text-align: left;
  max-width: 750px;
}

section {
  padding: 175px 175px 0;
}

#heading {
  -webkit-user-select: none;
  text-align: center;
}

#logo {
  font: 120px 'Montserrat', sans-serif;
  text-transform: lowercase;
}

@media screen and (max-width: 700px) {
  section {
    padding: 150px 50px;
  }

  #logo {
    font-size: 90px;
  }

  #tagline {
    font-size: 12px;
  }
}

@media screen and (max-width: 500px) {
  body {
    font-size: 13px;
  }
}

::selection {
  color: #fff;
  background-color: #333;
}
