* {
  -webkit-box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  cursor: default;
}

body {
  font: 17px/1.5 'Roboto Mono';
  margin: 0;
  color: #33333d;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0,0,0,.004);
}

a {
  color: #333;
  text-decoration: none;
  transition: 0.3s ease;
  cursor: pointer;
}

a.project-link {
  color: #ffc371;
}

a.project-link:hover {
  color: #fb7985;
}

svg {
  width: 12px;
  padding-top: 1px;
}

svg g {
  transition: 0.3s ease;
}

svg g:hover {
  fill: #ffc371;
}

section {
  min-height: 50%;
}

section:not(#top) {
  padding: 175px 100px 75px;
}

.content img {
  width: 100%;
}

p {
  font-weight: 300;
  font-family: inherit;
  font-size: 16px;
  text-align: justify;
}

.content {
  margin: 0 auto;
  max-width: 750px;
  width: 100%;
}

.content h3 {
  text-align: left;
  font-size: 56px;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  margin-bottom: 10px;
  font-family: 'Montserrat';
}

.content h3 a {
  background-size: 100% 200%;
  background-image: linear-gradient(to bottom, #333 50%, #7d7d7d 50%);
  background-position: 0% 100%;
}

.content h3 a:hover, .content h3 a.active {
  background-position: 0% 0%;
  color: #fff;
}

.copy-area {
  display: none;
}

.copyright {
  text-align: center;
  font-size: 16px;
  margin-top: 100px;
}

.copyright span:not(:first-child) {
  margin-left: 20px;
}

.link, .email {
  color: #808080;
}

.link:hover {
  color: #f94f5e;
}

.fa {
  transition: 0.3s ease;
}

.fa-code:hover {
  color: #C12127;
}

.fa-github:hover {
  color: #4078c0;
}

.fa-linkedin:hover {
  color: #007bb6;
}

.fa-soundcloud:hover {
  color: #ff3a00;
}

.fa-twitter:hover {
  color: #00aced;
}

.hidden {
  max-height: 0;
}

.padding {
  margin-top: 20px;
}

.project-container {
  background-color: #7d7d7d;
  padding-bottom: 0;
}

.project-description {
  max-width: 400px;
  color: #333;
  overflow: hidden;
}

.project-description a {
  text-align: left;
}

.social-container span:not(:first-child) {
  padding-left: 20px;
}

.social-container.left {
  text-align: left;
  max-width: 750px;
}

h3.title span {
  font-size: 12px;
  letter-spacing: .2em;
  font-family: 'Roboto Mono';
  background: -webkit-linear-gradient(bottom right,#ff5f6d,#ffc371);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

#top {
  padding: 175px;
}

#heading {
  -webkit-user-select: none;
  text-align: center;
}

#logo {
  font: 150px 'Arapey', sans-serif;
  text-transform: lowercase;
}

@media screen and (max-width: 700px) {
  section, #top {
    padding: 50px 10px;
  }

  #logo {
    font-size: 100px;
  }

  #tagline {
    font-size: 12px;
  }

  .content h3 {
    font-size: 24px;
  }

  h3.title {
    font-size: 12px;
  }
}

@media screen and (max-width: 500px) {
  body {
    font-size: 13px;
  }
}

::selection {
  color: #fff;
  background-color: #333;
}
