* {
  -webkit-box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  cursor: default;
}

body {
  font-family: 'Roboto Mono', monospace;
  margin: 0;
  color: #33333d;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0,0,0,.004);
}

a {
  color: #333;
  text-decoration: none;
  transition: 0.3s ease;
  cursor: pointer;
  position: relative;
}

a.lined:hover {
  color: #333;
}

a.lined:after {
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 50%;
  height: 3px;
  background: #a2cef7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=(50));
  opacity: 0.5;
  content: "";
  -moz-transition: all 250ms ease-in-out;
  -webkit-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

a.lined:hover:after {
  width: 99%;
}

a.project-link {
  color: #c3c3c3;
}

a.project-link:hover {
  color: #a2cef7;
}

svg {
  width: 12px;
  padding-top: 1px;
}

svg g {
  transition: 0.3s ease;
}

a.mosaic-icon:hover svg g {
  fill: #ffc371;
}

section:not(#top) {
  padding: 50px 100px 75px;
}

.content img {
  width: 100%;
}

p {
  font-weight: 300;
  font-family: inherit;
  font-size: 13px;
  text-align: justify;
}

.content {
  margin: 0 auto;
  max-width: 750px;
  width: 100%;
}

p.content {
  max-width: 287px;
  letter-spacing: 0.02em;
  line-height: 1.9em;
}

.content h3 {
  text-align: left;
  font-size: 56px;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  margin-bottom: 10px;
  font-family: 'Montserrat';
}

.content h3 a {
  background-size: 100% 200%;
  background-image: linear-gradient(to bottom, #333 50%, rgba(0, 0, 0, 0) 50%);
  background-position: 0% 100%;
}

.content h3 a:hover, .content h3 a.active {
  background-position: 0% 0%;
  color: #fff;
}

.copy-area {
  display: none;
}

.copyright {
  text-align: center;
  font-size: 16px;
  margin: 50px 0;
}

.copyright span:not(:first-child) {
  margin-left: 20px;
}

.email {
  font-family: 'Montserrat';
  font-size: 14px;
}

.link, .email {
  color: #808080;
}

.link:hover {
  color: #a2cef7;
}

.fa {
  transition: 0.3s ease;
}

.fa-code:hover {
  color: #C12127;
}

.fa-github:hover {
  color: #4078c0;
}

.fa-linkedin:hover {
  color: #007bb6;
}

.fa-medium:hover {
  color: #02b875;
}

.fa-twitter:hover {
  color: #00aced;
}

.padding {
  margin-top: 20px;
}

.project-container {
  background-color: #909090;
  padding-bottom: 0;
}

.project-description {
  max-width: 400px;
  color: #d8d8d8;
  overflow: hidden;
  max-height: 400px;
  -webkit-transition: max-height 0.5s;
  -moz-transition: max-height 0.5s;
  -o-transition: max-height 0.5s;
  transition: max-height 0.5s;
}

.project-description.hidden {
  max-height: 0;
}

.project-description a {
  text-align: left;
}

.project-description p {
  font-size: 13px;
  letter-spacing: 0.006em;
  color: #fff;
}

.social-container span:not(:first-child) {
  padding-left: 20px;
}

.social-container.left {
  text-align: left;
  max-width: 750px;
}

h3.title span {
  font-size: 12px;
  letter-spacing: .2em;
  font-family: 'Gentium Book Basic';
  color: #fff;
}

#top {
  padding: 175px;
}

#heading {
  -webkit-user-select: none;
  text-align: center;
}

#logo {
  font: 120px 'Montserrat', sans-serif;
  text-transform: lowercase;
}

@media screen and (max-width: 700px) {
  section:not(#top) {
    padding: 100px 50px;
  }

  #top {
    padding: 150px 50px;
  }

  #logo {
    font-size: 90px;
  }

  #tagline {
    font-size: 12px;
  }

  .content h3 {
    font-size: 24px;
  }

  h3.title span {
    font-size: 10px;
  }

  .project-description p {
    font-size: 12px;
  }
}

@media screen and (max-width: 500px) {
  body {
    font-size: 13px;
  }
}

::selection {
  color: #fff;
  background-color: #333;
}
